body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:'#8d8d8d';
}

.volumeSlider{
  appearance: none;
  height:5px;
  width:300px;
  background:#424242;
  outline:none;
  box-shadow: 2px 2px 5px rgb(44, 42, 42);
  border-style:solid;
  border-color:black;
  border-width:1px;


}

.volumeSlider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  background:blue;
  width:10px;
  height:30px;

  border-style:solid;
  border-width:1px;
  border-color:black;

}


.volumeSlider::-moz-range-thumb{
  appearance: none;
  background:blue;
  width:10px;
  height:30px;

  border-style:solid;
  border-width:1px;
  border-color:black;
}